
<html>
	<h1>Login</h1>
	<head> 
		<meta charset="UTF-8">
		<title> 
			Textboard Project | Home 
		</title> 
		<link rel="stylesheet" href="../css/style.css">
	</head>
	<header>
		<div>
			<ul>
				<li> <a href="../index.html">Home</a> </li>
				<li> <a href="signup.ejs">Signup</a> </li>
				<li> <a href="login.ejs">Login</a> </li>
			</ul>
		</div>
	</header>
	<body> 
		<div class="top-bar">
			<h1>
				MMK Forums
			</h1>
		</div>
		<div class="main-index">
			<form action="../index.html" method="POST">
				<div>
					<label for="email">Email</label>
					<input
						type="email"
						name="email"
						placeholder="Enter Email"
					/>
				</div>
				<div>
					<label for="password">Password</label>
					<input
						type="password"
						name="password"
						placeholder="Enter Password"
					/>
				</div>
				<button type="submit" class="btn btn-primary btn-block">Login</button>		
			</form>
		</div>
	</body>
</html>